
<div class="col-4 my-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><%= book.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"> <b>Author: </b> <%=book.author %></h6>
            <p class="card-text"><%= truncate(book.review, :length => 200) %></p>
            <%= link_to 'Details', get_book_info_path(book, 'ver'), remote: true, class: "btn btn-primary" %>
            <% if book.status == 0 %>
                <%= link_to 'Reserved', get_book_info_path(book, 'reservar'), remote: true, class: "btn btn-outline-info" %>
            <% elsif book.status == 1 %>
                <%= link_to 'Bought',  root_path, class: "btn btn-primary", data: { toggle: 'modal', target: '#payBookModal'}, class: "btn btn-outline-success" %>
                <%= link_to '<img src="https://cdn1.iconfinder.com/data/icons/jumpicon-basic-ui-line-1/32/-_Trash-Can--512.png" alt="Borrar">'.html_safe, unreserve_book_path(book), method: :post, remote: true, class: "ico float-right" %>
            <% elsif book.status == 2 %>
                <%= link_to '<img src="https://cdn1.iconfinder.com/data/icons/jumpicon-basic-ui-line-1/32/-_Trash-Can--512.png" alt="Borrar">'.html_safe, destroy_book_path(book), method: :delete, remote: true, class: "ico float-right", data: {confirm: "Are you sure? if you delete the book there is no money back"} %>
            <% end %>
        </div>
    </div>
</div>

